@import 'reset-css';
@import url('https://fonts.googleapis.com/css?family=Poppins:500,700');

body {
  color: black;
  font-size: 14px;
  font-family: 'Poppins', 'Verdana', sans-serif;
}

header,
#about,
#works,
#contacts {
  margin: 0 auto;
  max-width: 1140px;
}

hr {
  height: 1px;
  border: none;
  background: #ebebeb;
}